.Navbar{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-start;
    margin: 8px;
    position: fixed;
    background-color: white;
    width: 100%;

}
.NavbarTitle{
    font-size: 30pt;
    text-decoration: none;
    margin: 10px;
    color: unset;
    padding: 3px;
    border-bottom: 2px solid #ffffff00 ;

}
.NavbarItem{
    font-size: 20pt;
    text-decoration: none;
    margin: 10px;
    color: unset;
    padding: 5px;
    border-bottom: 2px solid #ffffff00 ;
}
.NavbarItem:hover{
    transition: 300ms;
    border-bottom: 2px solid #263F4C ;
}
.NavbarItem:focus{
    border-bottom: 2px solid #263F4C ;
}